{
  "extends": ["@charrue/typescript", "plugin:prettier/recommended"],
  "rules": {
    "no-console": "off",
    "import/no-unresolved": "off",
    "array-callback-return": "off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}
